/ MH 3/24/13 - Edit existing trip information 

%h1 Update Trip Information

= form_tag river_trip_path(@trip.river_id, @trip.id), :method => :put do
	= render 'form'
	%br
	%br
	= submit_tag 'Update Trip Information'

= link_to 'Back', river_trips_path(@trip.river_id)
