%h1 Listing trips

%table
  %tr
    %th
    %th
    %th

  - @trips.each do |trip|
    %tr
      %td= link_to 'Show', river_trip_path(@river.id, @trip.id)
      %td= link_to 'Edit', edit_river_trip_path(@river.id, @trip.id)
      %td= link_to 'Destroy', river_trip_path(@river.id, @trip.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Trip', new_river_trip_path(@river.id)
