<!-- Static code for landing page - will convert to Haml later -->

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Begin Your Journey</h1>
                <p>Yocona is a river trip planner developed for the San Francisco Bay Inner City Outings rafting program. Here you can preview potential destinations, track logistical details, and document your most recent expedition. Find all the information you need for your next adventure!</p>
                <p>
                    <%= button_to "Learn More &raquo;".html_safe, about_path, :class => "btn btn-primary btn-large", :method => :get %>
                </p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                     <img src= "/assets/SeniorGuidingWithKids.jpg" class="img-rounded">
                    <h3>Document your adventure</h3>
                    <p>Keep track of logistics for your upcoming rafting trip. Record information from recent expeditions.</p>
                    <p>
                        <!--MH 5/1/13 -->
                        <%= button_to "View details &raquo;".html_safe, new_river_trip_path(TripsController.default_river_index), :class => "btn", :method => :get %>
                    </p>
                </div>
                <div class="span4">
                    <img src= "/assets/Clavey_sideways.jpg" class="img-rounded">
                    <h3>Explore Rivers</h3>
                    <p>Find information on rivers throughout California, including the South Fork of the American, Tuolumne, Kings, Trinity and many more!</p>
                    <p>
                        <!--MH 5/1/13 -->
                        <%= button_to "View details &raquo;".html_safe, rivers_path, :class => "btn", :method => :get %>
                    </p>
               </div>
                <div class="span4">
                     <img src= "/assets/DiagramOnRaft3.jpg" class="img-rounded">
                    <h3>Featured Trip</h3>
                    <p>Check out images and stories from ICO’s spring guide training on the South Fork of the American River.</p>
                    <p>
                        <!--MH 5/1/13 Must change later to point to actaul American River trips or specific trip-->
                        <%= button_to "View details &raquo;".html_safe, river_trips_path(TripsController.default_river_index), :class => "btn", :method => :get %>
                        <!-- River.find_by_name("American River").id -->
                    </p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Yocona 2013</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>