<!-- Static code for landing page - will convert to Haml later -->

        <div class="container">

            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                <h1>Begin Your Journey</h1>
                <p>Yocona is a river trip planner developed for the San Francisco Bay Inner City Outings rafting program. Here you can preview potential destinations, track logistical details, and document your most recent expedition. Find all the information you need for your next adventure!</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div>

            <!-- Example row of columns -->
            <div class="row">
                <div class="span4">
                    <h3>Document your adventure</h3>
                    <p>Keep track of logistics for your upcoming rafting trip. Record information from recent expeditions.</p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
                <div class="span4">
                    <h3>Explore Rivers</h3>
                    <p>Find information on rivers throughout California, including the South Fork of the American, Tuolumne, Kings, Trinity and many more!</p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
               </div>
                <div class="span4">
                    <h3>Featured Trip</h3>
                    <img src="../DiagramOnRaft.jpg" height="10%" width="10%">
                    <p>Check out images and stories from ICO’s spring guide training on the South Fork of the American River.</p>
                    <p><a class="btn" href="#">View details &raquo;</a></p>
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; Yocona 2013</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>