/ MH 4/22/13 Display search results of all matching trips from the search query, for a variety of rivers 
/ Partial gets river_id info separately for each trip as they may vary, so all's good 

%h1 Listing Trip Search Results

/ = @search_params
= render :partial => 'listtrips'

%br 
%br
= link_to 'Search Again', search_path
