/ MH 3/24/13 Edit Existing River Info -- reuse default CRUD details template 'form' for DRYness

%h1 Update River Information

= render :partial => 'form'
/ = form_tag river_path(@river.id), :method => :put do
/ 	= render 'form' 
/ 	%br
/ 	%br
/ 	= submit_tag 'Update River Information'

= link_to 'Back', rivers_path

