%h1 Listing rivers

%table
  %tr
    %th
    %th
    %th

  - @rivers.each do |river|
    %tr
      %td= link_to 'Show', river
      %td= link_to 'Edit', edit_river_path(river)
      %td= link_to 'Destroy', river, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New River', new_river_path
